#sixthSection {
    height: 1450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
}

#sixthSectionTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.sixtSectionImg2 {
    width: 400px;
    height: 600px;
    object-fit: contain;
    position: absolute;
    transition: .5s ease-in-out;
}


#sixthSectionLineaVioleta {
    position: absolute;
    height: 101px;
    mix-blend-mode: color;
    width: 93vw;
    z-index: 50;
    align-self: flex-start;
    background: linear-gradient(-90deg, #E0AAFF 0%, #9D4EDD 100%);
    top: 875px;
    transition: 1s ease-in-out;
}

#sixthSectionLineaVioleta2 {
    position: absolute;
    height: 101px;
    width: 93vw;
    align-self: flex-start;
    background: linear-gradient(-90deg, #E0AAFF 0%, #9D4EDD 100%);
    top: 875px;
    transition: 1s ease-in-out;
}

#sixthSectionFinalText {
    position: absolute;
    top: 1080px;
    width: 100%;
    padding-top: 40px;
    width: 60vw;
    font-weight: 400;
    font-size: 16px;
    color: #000100;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #FFFFFF;
    z-index: 200;
    text-align: center;
    span {
    transition: .5s ease-in-out;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
    a {
        color: #000100;
        font-weight: 800;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

@media (max-width: 862px) {
    #sixthSection {
        padding-top: 65px;
        height: 1250px;
    }
    #sixthSectionTitle {
        font-size: 16px;
        margin-bottom: 32px;
    }
    #sixthSectionFinalText {
        font-size: 14px;
        top: 670px;
        width: 90vw;
        a {
            
                font-size: 16px;
        }
    }
    #sixthSectionLineaVioleta {
        top: 540px;
        width: 100%;
        height: 80px;
    }
    #sixthSectionLineaVioleta2 {
        top: 540px;
        width: 100%;
        height: 80px;
    }
    .sixtSectionImg2 {
        width: 245px;
        height: 364px;
    }
}